<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6">
                <p class="small text-left" title="Todos los derechos reservados">
                    <span class="nameEnterprise">fluirxelmundo</span>
                    <span class="hint-text">® 2019</span>
                </p>
            </div>
            <div class="col-12 col-sm-6">
                <p class="small text-right">
                    <span class="hint-text">Made with Love by </span>
                    <a class="links" href="http://sancercu.github.io/" target="_blank">fluirxelmundo</a>
                </p>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>