<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6">
                <p class="small text-left" title="Todos los derechos reservados">
                    <span class="nameEnterprise">tfd</span>
                    <span class="hint-text">® 2019</span>
                    <span class="sm-block">
                        <a [routerLink]="['/terminos-y-condiciones']" target="_blank"
                            class="ml-2 mr-2 links">Condiciones de uso y Políticas de
                            privacidad</a>
                    </span>
                </p>
            </div>
            <div class="col-12 col-sm-6">
                <p class="small text-right">
                    <span class="hint-text">Made with Love by </span>
                    <a class="links" href="http://www.qwertysoft.io" target="_blank">QwertySoft</a>
                </p>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>