body {
  background: #f6f9fa;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  padding: 0px;
}

::-webkit-scrollbar {
  display: none;
}

.hint-text {
  opacity: 0.7;
  font-weight: 100;
}

.btnPrimary {
  color: #fff;
  background: #6d5cae;
  border-color: #6d5cae;
  &:hover {
    color: #fff !important;
    background: rgb(90, 76, 150) !important;
    border-color: rgb(90, 76, 150) !important;
  }
}

.btnCancelar {
  color: #5d5d61;
  &:hover {
    color: #4b4b4e;
  }
}

.tooltip > .tooltip-inner {
  // font-weight: 100;
  font-size: 12px;
  line-height: 16px;
}

.modal-content {
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 0.5rem;
  box-shadow: 0 10px 30px 0 rgba(31, 45, 61, 0.1);
}
.modal-header {
  border-bottom: 1px solid #edf2f9;
  border-radius: calc(0.5rem - 1px) calc(0.5rem - 1px) 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'ubuntu';
  .modal-title {
    color: #3d415b;
    font-size: 0.9375rem;
    font-weight: 500;
    line-height: 1.1;
  }
  button {
    &.close {
      opacity: 0.5;
      color: #95aac9 !important;
      &:hover {
        opacity: 1;
      }
    }
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}
.modal-body {
  font-family: 'ubuntu';
}
.modal-footer {
  font-family: 'ubuntu';
  border-top: 1px solid #edf2f9;
  border-radius: 0px;
}

.modal-backdrop.show {
  // opacity: 0.2 !important;
  // background: rgb(18, 38, 63) !important;
  background: rgba(18, 38, 63, 0.12) !important;
}

.required {
  color: #ea2c54;
}

.hint-error {
  color: #f55753 !important;
  font-weight: 100;
  margin-top: 3px;
}

.btn-link {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.form-control-label,
.col-form-label-sm {
  color: #3c4858;
  font-size: 0.875rem;
  font-weight: 400;
  font-family: 'ubuntu';
}

textarea {
  resize: none;
}

.form-control,
.custom-select {
  color: #8492a6;
  background-color: #fff;
  border: 1px solid #e0e6ed;
  border-radius: 0.25rem;
  &:focus {
    color: #8492a6;
    background-color: #fff;
    border-color: rgba(77, 58, 159, 0.5);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(31, 45, 61, 0.075), 0 0 20px rgba(110, 0, 255, 0.1);
    box-shadow: inset 0 1px 1px rgba(31, 45, 61, 0.075), 0 0 20px rgba(110, 0, 255, 0.1);
  }
}

.form-control-sm {
  height: calc(1.5em + 0.5rem + 2px) !important;
}

.card {
  color: #3d425b;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #edf2f9;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  border-color: #edf2f9;
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
  font-weight: 'ubuntu';
  .card-header {
    padding: 1rem 1.5rem;
    margin-bottom: 0;
    background-color: transparent;
    border-bottom: none;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    min-height: 3.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: calc(0.5rem - 1px) calc(0.5rem - 1px) 0 0;
  }
}

.canInvoiceDot {
  background-color: #10cfbd;
}

.canNotInvoiceDot {
  background-color: #ea2c54;
}

.colorEmitido {
  background: #10cfbd !important;
  color: #626262 !important;
}

.colorProgreso {
  background: #4d3a9f !important;
}

.colorPendiente {
  background: #e3e8f1 !important;
}

.colorAnulado {
  background: #f55753 !important;
  p {
    color: #fff !important;
  }
}

.txtHint {
  font-family: 'Ubuntu', sans-serif;
  margin-right: 10px;
  font-size: 0.9rem;
  font-weight: 100;
  font-style: italic;
  color: #626262;
  vertical-align: middle;
}

.ownBadgePill {
  color: #505f79;
  background: #f4f5f7;
  height: 20px;
  max-width: 40px;
  width: fit-content;
  padding: 4px 5px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e6e6e6;
  p {
    margin: 0px;
    font-weight: 700;
    font-style: normal;
    line-height: inherit;
    font-size: 11px;
    line-height: 1;
  }
}

.card-footer:last-child {
  border-radius: 0 0 0.5rem 0.5rem !important;
}

::placeholder {
  color: #e0e6ed !important;
}

:-ms-input-placeholder {
  color: #c0ccda !important;
}

::-ms-input-placeholder {
  color: #c0ccda !important;
}

.d-xs-block {
  display: none;
}
@media (max-width: 575px) {
  .d-xs-none {
    display: none;
  }
  .d-xs-block {
    display: block;
  }
}

.badgePrimary {
  background: #4d3a9f;
  color: #fff;
}
.badgeWarning {
  background: #fbbc05;
  color: #fff;
}
.badgeProgress {
  background: #2c7be5;
  color: #fff;
}
.badgeSuccess {
  background: #10cfbd;
  color: #fff;
}
.badgeDanger {
  background: #f55753;
  color: #fff;
}
.badgeLight {
  background: #f5f6f8;
  color: #4f5f79 !important;
}

// .swiper-slide {
//   overflow: initial !important;
// }

// .s-wrapper.swiper.swiper-container.swiper-container-initialized.swiper-container-horizontal {
//   overflow: initial !important;
//   .swiper-wrapper {
//     overflow: initial !important;
//   }
// }

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 0px !important;
}
.swiper-wrapper {
  padding-bottom: 40px !important;
  padding-top: 40px !important;
}
.headerMainFront {
  .swiper-wrapper {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
  }
}

swiper
  > .swiper.s-wrapper
  .swiper-pagination
  .swiper-pagination-handle
  .swiper-pagination-bullet.swiper-pagination-bullet-last,
swiper
  > .swiper.s-wrapper
  .swiper-pagination
  .swiper-pagination-handle
  .swiper-pagination-bullet.swiper-pagination-bullet-first {
  border: 0px !important;
}

swiper > .swiper.s-wrapper .swiper-pagination .swiper-pagination-handle .swiper-pagination-bullet {
  transition: all 0.1s linear;
  width: 6px;
  height: 6px;
  border-radius: 100px !important;
}

swiper > .swiper.s-wrapper .swiper-pagination .swiper-pagination-handle .swiper-pagination-bullet-active {
  background: #6d5cae !important;
  width: 30px !important;
}

swiper
  > .swiper.s-wrapper.swiper-container-horizontal
  > .swiper-pagination
  .swiper-pagination-handle
  .swiper-pagination-bullet.swiper-pagination-bullet-last,
swiper
  > .swiper.s-wrapper.swiper-container-horizontal
  > .swiper-pagination
  .swiper-pagination-handle
  .swiper-pagination-bullet.swiper-pagination-bullet-first {
  margin: 0px !important;
}
