<div class="headerMainFront">
  <div class="contentLayer layoutBg" style="position: absolute; top: 0;">
    <div class="container-fluid">
      <div class="form-row">
        <div class="col-sm-10 offset-sm-1 col-12 text-center">
          <ngx-typed-js [strings]="['begun!', 'started!']" [loop]="true" [typeSpeed]="126">
            <h1 class="titleHeaderMain"><b>Our journey</b> has <span class="typing"></span></h1>
          </ngx-typed-js>
          <h3 class="subtitleHeaderMain">
            Together to the infinity and beyond
          </h3>
        </div>
      </div>
    </div>
    <div class="mouse-wrapper">
      <div class="mouse">
        <div class="mouse-scroll"></div>
      </div>
    </div>
  </div>
  <swiper [config]="config">
    <div class="contentImgSlide" *ngFor="let image of images">
      <img src="{{ image.image }}" alt="" />
    </div>
  </swiper>
</div>

<section class="sectionBanner2">
  <div class="container">
    <div class="form-row">
      <div class="col-12 col-sm-8 offset-sm-2 text-center">
        <h1 class="bannerTitle">Emitir comprobantes nunca fue tan simple</h1>
      </div>
    </div>
    <div class="row separationBanner2">
      <div class="col-12 col-md-4">
        <div class="contentOptionTravels">
          <a href="" class="contentImg">
            <img src="../../../../../assets/images/viajes4.jpg" alt="">
          </a>
          <a href="" class="linkViaje">Lorem ipsun dolor sit amet</a>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate placeat provident suscipit veritatis
            fuga culpa. Dolores necessitatibus obcaecati accusamus quae eos ut quas, officia dolorum autem sunt, eaque
            ratione nesciunt[…]
          </p>
        </div>
        <div class="divider d-block d-md-none"></div>
      </div>
      <div class="col-12 col-md-4">
        <div class="contentOptionTravels">
          <a href="" class="contentImg">
            <img src="../../../../../assets/images/viajes3.jpg" alt="">
          </a>
          <a href="" class="linkViaje">Lorem ipsun dolor sit amet</a>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate placeat provident suscipit veritatis
            fuga culpa. Dolores necessitatibus obcaecati accusamus quae eos ut quas, officia dolorum autem sunt, eaque
            ratione nesciunt[…]
          </p>
        </div>
        <div class="divider d-block d-md-none"></div>
      </div>
      <div class="col-12 col-md-4">
        <div class="contentOptionTravels">
          <a href="" class="contentImg">
            <img src="../../../../../assets/images/viajes2.jpg" alt="">
          </a>
          <a href="" class="linkViaje">Lorem ipsun dolor sit amet</a>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate placeat provident suscipit veritatis
            fuga culpa. Dolores necessitatibus obcaecati accusamus quae eos ut quas, officia dolorum autem sunt, eaque
            ratione nesciunt[…]
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bannerCallToAction">
  <div class="layoutBg">
    <div class="container-fluid">
      <div class="text-center">
        <ngx-typed-js [strings]="['begun!', 'started!']" [loop]="true" [typeSpeed]="126">
          <h1 class="titleHeaderMain"><b>Our journey</b> has <span class="typing"></span></h1>
        </ngx-typed-js>
        <p style="font-weight: 100;">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        </p>
        <a class="btn btnLanding" routerlink="/contacto" href="/contacto">Contactanos</a>
      </div>
    </div>
  </div>
</section>

<section class="bannerComments">
  <swiper [config]="configComments">
    <div *ngFor="let comment of comments">
      <div class="container text-center">
        <div class="row align-items-center">
          <div class="col-sm-10 offset-sm-1 col-12">
            <div class="contentComment" style="background: #fff;">
              <h4 class="text-center mb-3">"{{ comment.comment }}"</h4>
              <h4 class="userName">
                {{ comment.userType }} <b>{{ comment.user }}</b>
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </swiper>
</section>

<!-- <a href="https://api.whatsapp.com/send?phone=5492262414829&amp;#&amp;text=Hola quiero hacerles una consulta"
  title="Consultanos por Whatsapp" target="_blank" class="whatsappFancy">
  <i class="fab fa-whatsapp"></i>
</a> -->